<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PROJECT.Properties.Settings.HospitalConnectionString"
            connectionString="Data Source=DESKTOP-VEAV1KG\SQLEXPRESS;Initial Catalog=Hospital;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PROJECT.Properties.Settings.HospitalConnectionString1"
            connectionString="Data Source=desktop-kugq0kf\sqlexpress;Initial Catalog=Hospital;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>